asyncio
aiofiles
aioshutil
anytree
apscheduler
dnspython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httpx
natsort
pillow
psutil
pymongo
kurigram
python-magic
requests
telegraph
tenacity
tgcrypto
urllib3
uvloop
xattr
